:root{
    --bg-button: transparent ;
}

.button{
    font-size: 1.4rem;
    background-color: var(--bg-button);
    border: none;
    outline: none;
    color: #fff;
}

.button:active{
    background-color: rgb(125, 171, 255);
}
.button.double{
    grid-column: span 2;

}

.button.triple{
    grid-column: span 3;
}

.button.operation{
    background-color: transparent;
    color: white;
}
.button.operation:active{
    background-color: rgb(125, 171, 255);
}

/* ХУЙ ПИЗДА ЗАЛУПА */